<configuration>
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%class{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%thread] %msg</pattern>
        </encoder>
    </appender>

    <logger name="org.jgroups.protocols.NAKACK4" level="TRACE" />
    <logger name="org.jgroups.protocols.FD_ALL3" level="TRACE" />
    <logger name="org.jgroups.protocols.UDP" level="TRACE" />

    <root level="TRACE">
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>